modules = ["nodejs-20", "java-17"]

[nix]
channel = "stable-24_05"

[workflows]

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Compile"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Maven Package"

[[workflows.workflow]]
name = "Compile"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn clean compile"

[[workflows.workflow]]
name = "Maven Package"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn package"

[[workflows.workflow]]
name = "Run Plugin"
mode = "sequential"
author = 41573869

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Maven Package"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "atlas-run"

[deployment]
run = ["sh", "-c", "node index.js"]
